@model Practic.ViewModels.ServiceNameViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Служба</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<form action="@Url.Action("Index","ServiceNames")" method="post">
    Служба:@Html.TextBox("NameofService", Model.NameofService)
    Цех:@Html.TextBox("Department", Model.Department)
    <input type="submit" value="Найти"></input>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Служба
            </th>
            <th>
                Цех
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.serviceNames) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameofService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
<page-link page-model="@Model.PageViewModel" page-action="Index"></page-link>
