@model Practic.ViewModels.ApplicationViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Заявка</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<form action="@Url.Action("Index","Applications")" method="post">
    Краткое описание:@Html.TextBox("ShortDescription", Model.ShortDescription)
    Цена:@Html.TextBox("Price", Model.Price, new { type = "number", step = 0.01 })
    Количество:@Html.TextBox("Quantity", Model.Quantity, new { type = "number", step = 1 })
    Валюта:@Html.TextBox("NameofCurrency", Model.NameofCurrency)
    Материал:@Html.TextBox("Name", Model.Name)
    Фирма:@Html.TextBox("NameofFirm", Model.NameofFirm)
    <input type="submit" value="Найти"></input>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Краткое описание
            </th>
            <th>
                Цена
            </th>
            <th>
                Количество
            </th>
            <th>
                Валюта
            </th>
            <th>
                Материал
            </th>
            <th>
                Фирма
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.applications) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Currency.NameofCurrency)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Fabric.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Firm.NameofFirm)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
<page-link page-model="@Model.PageViewModel" page-action="Index"></page-link>
