@model IEnumerable<Practic.Models.Application>

@{
    ViewData["Title"] = "Index";
}

<h1>Заявка</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Краткое описание
            </th>
            <th>
                Цена
            </th>
            <th>
                Количество
            </th>
            <th>
                Валюта
            </th>
            <th>
                Материал
            </th>
            <th>
                Фирма
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Currency.NameofCurrency)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Fabric.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Firm.NameofFirm)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
