@model Practic.Models.Fabric

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>
<div>
    <h4>Материал</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Материал
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Код ТН ВЭД
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeTnved)
        </dd>
        <dt class = "col-sm-2">
            Код ОКРБ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeOkrb)
        </dd>
        <dt class = "col-sm-2">
            Вид работ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForWhat.TypeofWork)
        </dd>
        <dt class = "col-sm-2">
            Служба
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SetviceName.NameofService)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
