@model Practic.Models.Fabric

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fabric</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeTnved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeTnved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeOkrb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeOkrb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForWhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForWhat.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SetviceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SetviceName.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
