@model Practic.ViewModels.FabricViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Материал</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<form action="@Url.Action("Index","Fabrics")" method="post">
    Материал:@Html.TextBox("Name", Model.Name)
    Код ТН ВЭД:@Html.TextBox("CodeTnved", Model.CodeTnved)
    Код ОКРБ:@Html.TextBox("CodeOkrb", Model.CodeOkrb)
    Вид работ:@Html.TextBox("TypeofWork", Model.TypeofWork)
    Служба:@Html.TextBox("NameofService", Model.NameofService)
    <input type="submit" value="Найти"></input>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Материал
            </th>
            <th>
                Код ТН ВЭД
            </th>
            <th>
                Код ОКРБ
            </th>
            <th>
                Вид работ
            </th>
            <th>
                Служба
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.fabrics) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodeTnved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodeOkrb)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ForWhat.TypeofWork)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.SetviceName.NameofService)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
