@model IEnumerable<Practic.Models.Fabric>

@{
    ViewData["Title"] = "Index";
}

<h1>Материал</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Материал
            </th>
            <th>
                Код ТН ВЭД
            </th>
            <th>
                Код ОКРБ
            </th>
            <th>
                Вид работ
            </th>
            <th>
                Служба
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodeTnved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodeOkrb)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ForWhat.TypeofWork)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.SetviceName.NameofService)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
