@model Practic.ViewModels.CurrencyViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Валюта</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<form action="@Url.Action("Index","Currencies")" method="post">
    Название валюты:@Html.TextBox("NameofCurrency", Model.NameofCurrency)
    Страна:@Html.TextBox("CountryofCurrency", Model.CountryofCurrency)
    <input type="submit" value="Найти"></input>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Название валюты
            </th>
            <th>
                Страна
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.currencies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameofCurrency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryofCurrency)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
