@model Practic.ViewModels.FirmViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Фирма</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<form action="@Url.Action("Index","Firms")" method="post">
    Страна:@Html.TextBox("СountryofFirm", Model.СountryofFirm)
    Название:@Html.TextBox("NameofFirm", Model.NameofFirm)
    <input type="submit" value="Найти"></input>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Страна
            </th>
            <th>
                Название
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.firms) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.СountryofFirm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameofFirm)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
