@model Practic.ViewModels.ForWhatViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Вид работ</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<form action="@Url.Action("Index","ForWhats")" method="post">
    Вид работ:@Html.TextBox("TypeofWork", Model.TypeofWork)
    <input type="submit" value="Найти"></input>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Вид работ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.forWhats) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeofWork)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
