@model Practic.ViewModels.ForWhatViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Вид работ</h1>

<p>
    <a type="button" class="btn btn-primary" asp-action="Create">Создать</a>
</p>
<form action="@Url.Action("Index","ForWhats")" method="post">
    Вид работ:@Html.TextBox("TypeofWork", Model.TypeofWork)
    <input type="submit" class="btn btn-outline-dark" value="Найти"></input>
</form>
<br />
<table class="table">
    <thead>
        <tr class="table-primary">
            <th>
                Вид работ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.forWhats) {
            <tr class="table-secondary">
            <td>
                @Html.DisplayFor(modelItem => item.TypeofWork)
            </td>
            <td>
                    <a class="badge rounded-pill bg-primary" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                    <br />
                    <a class="badge rounded-pill bg-light" asp-action="Details" asp-route-id="@item.Id">Подробности</a>
                    <br />
                    <a class="badge rounded-pill bg-danger" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <ul class="pagination">
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber - 1)">&laquo;</a>
            </li>
        }

        @for (int i = 1; i <= Model.PageViewModel.TotalPages; i++)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@i" class="@(i == Model.PageViewModel.PageNumber ? "active" : "")">@i</a>
            </li>
        }

        @if (Model.PageViewModel.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber + 1)">&raquo;</a>
            </li>
        }
    </ul>
</div>

